<!DOCTYPE html>
<html>
<head>
	<title>Tipenwon</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="javascripts/jquery.mobile-1.4.4/jquery.mobile-1.4.4.css" />
	<link rel="stylesheet" href="javascripts/bootstrap-3.2.0-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="stylesheets/login.css" />
	

	
	
	<script>

	</script>
	
</head>
<body>
	<div class="loginHeader" data-role="navbar">
		<span>Sing Up</span>
	</div>

	<form method="post">
		<fieldset>
			<div>
				<label for="userName" class="ui-hidden-accessible">Name:</label>
				<input type="text" name="userName" id="userName" placeholder="Name:" value="" >
			</div>


			<div>
				<div class="btn-group" data-toggle="buttons">
				  <label class="btn btn-primary">
				    <input type="radio" name="options" id="option1" checked> Male
				  </label>
				  <label class="btn btn-primary">
				    <input type="radio" name="options" id="option2"> Female
				  </label>
				</div>
			</div>

			<div>
				<label for="emergency" class="ui-hidden-accessible">Emergency:</label>
				<input type="text" name="emergency" id="emergency" placeholder="emergency:" value="" >
			</div>


			<div>
				<label for="phone" class="ui-hidden-accessible">phone:</label>
				<input type="text" name="phone" id="phone" placeholder="phone:" value="" >
			</div>


			<div>
				<button>Singup</button>
			</div>
		</fieldset>	
	</form>

	<script src="javascripts/jquery-2.1.1/jquery-2.1.1.js"></script>
	<script src="javascripts/jquery.mobile-1.4.4/jquery.mobile-1.4.4.js"></script>
	<script src="javascripts/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
</body>
</html>